{% extends 'base.html' %}
{% block title %}
<title>About Us</title>
{% endblock %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 0px 0px #E3E7EB;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-7 card mb-4  mt-4 left  top">
      <h5 class="card-header"> <i> Mission And Vision </i></h5>
      <div class="card-body">
          <p> <i> Our mission is to collect all the programming resources so that it would be easy for newbies to find the effective and quality full tutorial and we are trying to collect the tutorials both in english and bangla. </i></p>
<!-- Sidebar Widgets Column -->
       </div>
    </div>
<div class="col-md-5 float-right ">
   <div class="card my-4">
       <h5 class="card-header"> <i> Developed By </i></h5>
    <div class="card-body">
        <i>
        <p1> SOHEL SUVRO </p1> <br>
        <P1> Email : suvro047@gmail.com </P1> <br>
        <p1> Institute : HSTU </p1>
        </i>
    </div>
  </div>
</div>
  </div>
</div>
{% endblock %}
